{% extends "base.html" %}
{% block content %}
<br>
<br>
    <div class="jumbotron container rounded bg-info text-white">
        <div class="container">
            <h1 class="display-4">Walkthroughs</h1>
            <br></div>
        </div>
        <div class="jumbotron container bg-dark text-white" style="padding: 20px;">
            <br>
                {% for post in wk_posts %}

                    <time>created:
                        {{ post.created_date|date:"m-d-Y" }}</time>
                    <h4>Title:
                        <a href="{% url 'wk_post_detail' pk=post.pk %}">{{ post.title|safe }}</a>
                    </h2>
                    <h4>Summary:
                        {{ post.summary|safe }}</h4>
                    <br>
                        <br>
                        {% endfor %}
                    </div>
                </div>

            {% endblock %}
